documents privés/
data/
*.txt
*.xlsx
*.json
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
dist/
*.egg-info/
bert_outputs/best_model_state.pt
Notes informatives sur le projet.docx